# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Makefile backup
Makefile.bak

# Executable
clazzy

clazzy_c/
clazzy_cpp/
clazzy_java/
clazzy_python/

